{{extend 'layout.html'}}
{{ import markdown }}

{{ for post in posts: }}
<div class="maincontent">
	<h1 class="sectionheading">
		<a href="/{{=request.application}}/posts/view/{{= post.id }}">{{= post.title }}</a>
	</h1>
	<p class="sectionheadingimage">
	<a href='/{{=request.application}}/feeds/posts.rss'>
		<img src='/init/static/images/feed-icon-large.png' />
	</a>
	</p>
	<br/>
	<div class="subinfo" style="font-size: 8pt">Posted by <strong>{{=post.username}}</strong> on <strong>{{=str(post.addeddate)[:10]}}</strong></div>
    <div>{{= XML(markdown.WIKI(post.body)) }}</div>
</div>
<br/>
{{ pass }}
