{{extend 'layout.html'}}
{{ isfirstpost = True }}
{{for n in news:}}
    <div class="post">
        <div class="post_title">
            <h1 class="left"><a href={{="/" + request.application + "/default/read/" + str(n.id)}}>{{=n.title}}</a></h1>
            <div class="post_date right">Posted on {{=n.addeddate}} by {{=n.first_name}}</div>
            <div class="clearer">&nbsp;</div>
        </div>
        <div class="post_body">
            {{=XML(str(n.post).replace("\n", "<BR>"))}}
            {{ if auth.is_logged_in: }}
            {{ 		if response.admin == True: }}
            <a href={{="/" + request.application + "/default/update/" + str(n.id)}}>[Update this post]</a>
            {{ 		pass }}
            {{ pass }}
            <div class="post_metadata">
                    <div class="content">
                        <!-- 
                        <div class="left">
                            Posted in <a href="#">Maecenas</a>, tagged: <a href="#">arcu</a>, <a href="#">eget</a>, <a href="#">pretium</a>, <a href="#">porttitor</a>
                        </div>
                        -->
                        <div class="right">
                                <span class="comment"><a href="#">4 Comments</a></span>
                        </div>
                        <div class="clearer">&nbsp;</div>
                    </div>
            </div>
        </div>
        <div class="post_bottom"></div>
    </div>
{{pass}}
    <div class="pagenavigation">
        <div class="pagenav">
                <div class="left"><a href="#">&laquo; Older Entries</a></div>
                <div class="right"></div>
                <div class="clearer">&nbsp;</div>
        </div>
        <div class="pagenav_bottom"></div>
    </div>
