{{extend 'layout.html'}}
{{ import applications.init.modules.markdown as markdown }}

{{ for post in posts: }}
<div class="maincontent">
	<h1 class="sectionheading">
		<a href="/{{=request.application}}/posts/view/{{= post.id }}">{{= post.title }}</a>
	</h1>
	<p class="sectionheadingimage">
	<a href='/{{=request.application}}/feeds/posts.rss'>
		<img src='/init/static/images/feed-icon-large.png' />
	</a>
	</p>
	<br/>
	<div class="subinfo" style="font-size: 8pt">Posted by <strong>{{=post.username}}</strong> on <strong>{{=str(post.addeddate)[:10]}}</strong></div>
	{{ if post.excerpt: }}
	<div>{{= XML(markdown.WIKI(post.excerpt))}}
	</div>
	<div align="right">
		<a href="/{{=request.application}}/posts/view/{{= post.id }}">read more...</a>
	</div>
	{{ else: }}
    <div>{{= XML(markdown.WIKI(post.body)) }}</div>
	{{ pass }}
	{{ if categories: }}
		<br/>
		<div class="subinfo">
		{{ categorycounter = 1 }}
		<div><strong>Categories</strong>
			{{ for category in categories[post.id]: }}
			<a href="/{{=request.application}}/categories/view/{{= category }}">{{= categories[post.id][category] }}</a>{{ if categorycounter != len(categories[post.id]): }}, {{ else: }}. {{ pass }}
			{{ categorycounter = categorycounter + 1 }}
			{{ pass }}
			</div>
		</div>
	{{ pass }}
	{{ if tags: }}
		<div class="subinfo">
		{{ tagcounter = 1 }}
		<div><strong>Tags: </strong>
			{{ for tag in tags[post.id]: }}
				{{= tag }}{{ if tagcounter != len(tags): }}, {{ else: }} {{ pass }}
			{{ tagcounter = tagcounter + 1 }}
			{{ pass }}
			</div>
		</div>
	{{ pass }}
</div>
<br/>
{{ pass }}
