{{extend 'layout.html'}}
{{ if news: }}
{{ for n in news: }}
<div class="post">
    <div class="post_title">
        <h1 class="left">{{=n.title}}</h1>
        <div class="post_date right">Posted on {{=n.addeddate}} by {{=n.first_name}}</div>
        <div class="clearer">&nbsp;</div>
    </div>
    <div class="post_body">
	{{=XML(str(n.post).replace("\n", "<br/>"))}}
	<br/>
	{{ if auth.is_logged_in(): }}
	{{ 		if response.admin == True: }}
	<a href={{="/" + request.application + "/default/update/" + str(n.id)}}>[Update this post]</a>
	{{ 		pass }}
	{{ pass }}
    </div>
    <div class="post_bottom"></div>
</div>
{{ pass }}
{{ pass }}
<div class="post">
    <div class="post_title">
	<h1 class="left">Comments</h1>
        <div class="clearer">&nbsp;</div>
    </div>
    <div class="post_body">
	<div class="comments">
	    {{#=t2.comments(db.news) }}
	</div>
    </div>
</div>

