{{extend 'layout.html'}}
<div class="article">
    <h2>Search for a user</h2>
    {{=form}}
    <br />

    {{ if userlist: }}
    <TABLE>
	<TR>
	    <TD class="tablelistheader">First Name</TD>
	    <TD class="tablelistheader">Last Name</TD>
	    <TD class="tablelistheader">Login Name</TD>
	    <TD class="tablelistheader">Email Address</TD>
	</TR>
    {{ 	for user in userlist: }}
    <TR>
	<TD><A HREF={{=URL(r=request,f='user',args=[user.id])}}>{{= user.firstname }}</A></TD>
	<TD>{{= user.lastname }}</TD>
	<TD>{{= user.loginname }}</TD>
	<TD>{{= user.email }}</TD>
    </TR>
    {{ 	pass }}
    {{ pass }}
    </TABLE>
</div>
