<!--
'A Leaf' design by Greg Smith - http://gregdev.net
Please leave the 'designed by' link intact and visible; that's all I ask!
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>
			{{=response.title or request.application}}
		</title>
		<link rel="shortcut icon" href="/init/static/images/favicon.ico">
		{{response.files.append(URL(request.application,'static/css','style.css'))}}
		{{include 'web2py_ajax.html'}}
	</head> 
	<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<div id="wrap">
		{{if response.menu_auth:}}
		<div align="right">
			<a class="authmenu" href="{{=response.menu_auth[0][2] or '#'}}">{{=response.menu_auth[0][0]}}</a>
			{{for mi in response.menu_auth[0][3]:}}
			<a class="authmenu" href="{{=mi[2]}}">{{=mi[0]}}</a>
			{{pass}}
		</div>
		{{pass}}
		<div id="title">
			<div style="position: relative; float: left;"><a href="/"><img src="/init/static/images/pleph-logo.png" alt="Exuding awesomage..." /></a>
			<div>&nbsp;&nbsp;&nbsp;<strong>{{=response.subtitle}}</strong>
			</div></div>
			<a id="title-rss" class="tooltip" href="/{{=request.application}}/feeds/posts.rss"><span>Subscribe to the exclusive RSS feed</span></a><a id="title-twitter" class="tooltip" href="http://twitter.com/#!/aspersieman"><span>Get more of my Pleph awesomeness on Twitter!</span></a><a id="title-facebook" class="tooltip" href="http://www.facebook.com/nicolaasvandermerwe"><span>Like me on Facebook! Be Pleph to the max!</span></a><a id="title-googleplus" class="tooltip" href="https://plus.google.com/105278674397982352301/posts"><span>Plus one me on Google plus!</span></a>
			<div><img style="padding-top: 125px;" src="/init/static/images/logo-subtitle.png" /></div>
		</div>
		<div class="flash">{{=response.flash or ''}}</div>
		<div id="content">
		{{include}}
		</div>
		<div id="side">
			{{if response.menu_post:}}
			<ul>
				<li>
				<a class="item" href="{{=response.menu_post[0][2] or '#'}}">{{=response.menu_post[0][0]}}</a>
				</li>
				{{for mi in response.menu_post[0][3]:}}
				<li>
				<a class="itemsub" href="{{=mi[2]}}">{{=mi[0]}}</a>
				</li>
				{{pass}}
			</ul>
			{{pass}}
			{{if request.controller == "posts" or request.controller == "default":}}
			{{=LOAD('panels','feed_posts', ajax = True)}}
			{{pass}}
			{{=LOAD('panels','categories', ajax = True)}}
			{{=LOAD('panels','post_archive', ajax = True)}}

			<!--div id="google_reader_shared_items">
				<script type="text/javascript" src="http://www.google.co.za/reader/public/javascript/user/05176344199512550335/state/com.google/broadcast?n=10&callback=jQuery.fn.getReaderContent"></script>
			</div --!>
		</div>
		<div class="clear"></div>
		<div id="footer">
		<a href="http://www.web2py.com"><img src="/init/static/images/web2py_sticker_1.png" alt="Powered by web2py" /></a> <br/><br/>
		&copy; {{ import datetime }} {{= datetime.datetime.now().year}} <a href="http://pleph.appspot.com">aspersieman</a> ||
		<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/{{=request.application}}/feeds/posts.rss" />
		<a href="http://gregdev.net">
			Template
		</a>
		by
		<a href="http://gregdev.net">
			Greg Smith
		</a>
		{{if response.menu_login:}} <br/><br/><a href="{{=response.menu_login[0][2] or '#'}}">{{=response.menu_login[0][0]}}</a> {{pass}} {{pass}}
		</div>
	</div>
	<!--div id="bottom">
	</div --!>
</body>
</html>
