<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" type="image/png" href="/init/static/media/favicon.ico">
    <title>{{=(str(response.title) + " - " + str(response.subtitle)) or URL(r=request) or response.title}}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="{{=response.keywords}}" />
    <meta name="description" content="{{=response.description}}" />
    <link href="/init/static/styles/style.css" rel="stylesheet" type="text/css" charset="utf-8" />
    {{include 'web2py_ajax.html'}}
    <script src="{{=URL(r=request,c='static',f='scripts/sfmenu.js')}}" type="text/javascript"></script>
</head>
<body>
    <div id="layout_wrapper">
        <div id="layout_edgetop"></div>
        <div id="layout_container">
            <div id="site_title">
                <h1 class="left"><a href="/">{{=response.title or 'T2'}}</a></h1>
                <h2 class="right">{{=response.subtitle or '[bringing web2py to a higher level]'}}</h2>
                <div class="clearer">&nbsp;</div>
            </div>
            <div id="top_separator"></div>
            <div id="navigation">
                <div class="menu" id="tabs"> 
                  {{ if response.menu: }}
                  <ul class="sf-menu">
                  {{    for item in response.menu: }}
                      <li {{ if (item[2] == ("/" + request.application + "/" + request.controller + "/" + request.function)) or ((request.controller + "/" + request.function) == "default/index" and item[2] == "/"):}} class="current_page_item" {{ pass }}>
                          <a href={{=item[2]}}><span>{{=item[0] }}</span></a>
                          {{ try: }}
                          {{    if response.submenus[item[0]]:}}
                          {{        hassubmenus = True }}
                          {{    pass }}
                          {{ except: }}
                          {{    hassubmenus = False }}
                          {{ pass }}
                          {{ if hassubmenus: }}
                          <ul>
                          {{    for submenu in response.submenus[item[0]]: }}
                              <li>
                                    {{=submenu}}
                              </li>
                          {{    pass }}
                          </ul>
                          {{ pass }}
                      </li>
                  {{    pass }}
                    </ul>
                  {{ pass }}
                <div class="clearer">&nbsp;</div>
                </div>
            </div>

                <h2>Edit This App</h2>
                {{=MENU(response.menu_edit)}}
            <div class="spacer h5"></div>

            <!-- div id="page" -->
            <div id="main">
                <div class="left" id="main_left">
                      <!-- div id="content" -->
                      <div id="main_left_content">
                        {{if response.flash:}}<div class="flash">{{=response.flash}}</div>{{pass}}
                        {{ if response.pageinfo: }}
                        {{=XML(response.pageinfo)}}
                        {{ pass}}
                        {{include}}
                      </div>
                      <div style="clear: both;">&nbsp;</div>
                  </div>
                    <div class="right" id="main_right">

                            <div id="sidebar">

                                    <div class="box">
                                            <div class="box_title">Search</div>
                                            <div class="box_body">
                                                    <form method="get" id="searchform" action="http://www.google.com/search">
                                                    <div>
                                                            <table class="search">
                                                            <tr>
                                                                    <td><input type="text" value="" name="s" id="s" /></td>
                                                                    <td style="padding-left: 10px"><input type="image" src="/init/static/media/img/button_go.gif" /></td>
                                                            </tr>
                                                            </table>
                                                    </div>
                                                    </form>
                                            </div>
                                            <div class="box_bottom"></div>
                                    </div>
                                    <div class="box">
                                            {{ if auth.is_logged_in():}}
                                            <div class="box_title">{{=auth.user.email}}</div>
                                            {{ else: }}
                                            <div class="box_title">Authentication</div>
                                            {{ pass }}
                                            <div class="box_body">
                                                    <ul>
                                                    {{ if auth.is_logged_in():}}
                                                          <li><a href="{{=URL(r=request,c='default',f='user/profile')}}">Profile</a></li>
                                                          <li><a href="{{=URL(r=request,c='default',f='user/change_password')}}">Change password</a></li>
                                                          <li><a href="{{=URL(r=request,c='default',f='user/groups')}}">Groups</a></li>
                                                          <li><a href="{{=URL(r=request,c='default',f='user/verify_email')}}">Verify email</a></li>
                                                          <li><a href="{{=URL(r=request,c='default',f='user/logout')}}">Logout</a></li>
                                                    {{ else:}}
                                                          <li><a href="{{=URL(r=request,c='default',f='user/login')}}">Login</a></li>
                                                          <li><a href="{{=URL(r=request,c='default',f='user/register')}}">Register</a></li>
                                                          <li><a href="{{=URL(r=request,c='default',f='user/retrieve_password')}}">Password</a></li>
                                                    </ul>
                                                    {{ pass}}
                                            </div>
                                            <div class="box_bottom"></div>
                                    </div>
                                    <div class="box">
                                            <div class="box_title">Archives</div>
                                            <div class="box_body">
                                                    <ul>
                                                            <li><a href="#">December 2007</a> (5)</li>
                                                            <li><a href="#">June 2007</a> (2)</li>
                                                            <li><a href="#">May 2007</a> (6)</li>
                                                            <li><a href="#">March 2007</a> (12)</li>
                                                            <li><a href="#">February 2007</a> (8)</li>
                                                            <li><a href="#">May 2007</a> (10)</li>
                                                    </ul>
                                            </div>
                                            <div class="box_bottom"></div>
                                    </div>
                                    <div class="box">
                                            <div class="box_title">Links</div>
                                            <div class="box_body">
                                                    <ul>
                                                            <li><a href="http://templates.arcsin.se/category/blogger-templates/">Blogger Templates</a></li>
                                                            <li><a href="http://templates.arcsin.se/category/joomla-templates/">Joomla Templates</a></li>
                                                            <li><a href="http://templates.arcsin.se/professional-templates/">Professional Templates</a></li>
                                                            <li><a href="http://templates.arcsin.se/category/website-templates/">Website Templates</a></li>
                                                            <li><a href="http://templates.arcsin.se/category/wordpress-themes/">Wordpress Themes</a></li>
                                                    </ul>
                                            </div>
                                            <div class="box_bottom"></div>
                                    </div>
                            </div>
                    </div>
                    <div class="clearer">&nbsp;</div>
              </div>
              <div id="footer">
                    <div class="left">&#169; Created by {{=response.author}} - Powered by <a href="http://www.web2py.com">web2py</a></div>
                    <div class="right"><a href="http://templates.arcsin.se/">Website template</a> by <a href="http://arcsin.se/">Arcsin</a></div>
                    <div class="clearer">&nbsp;</div>
              </div>
        </div>
        <div id="layout_edgebottom"></div>
    </div>
</body>
</html>
