<!--
'A Leaf' design by Greg Smith - http://gregdev.net
Please leave the 'designed by' link intact and visible; that's all I ask!
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>
			{{=response.title or request.application}}
		</title>
		<link rel="shortcut icon" href="/init/static/images/favicon.ico">
		{{response.files.append(URL(request.application,'static/css','style.css'))}}
		{{include 'web2py_ajax.html'}}
		<style>
			div.flash {
			position: absolute;
			float: right;
			padding: 10px;
			top: 0px;
			right: 0px;
			opacity: 0.75;
			margin: 10px 10px 10px 10px;
			text-align: center;
			clear: both;
			color: #fff;
			font-size: 11pt;
			text-align: center;
			vertical-align: middle;
			cursor: pointer;
			background: black;
			border: 2px solid #fff;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			z-index: 2;
			}
			div.error {
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			background-color: red;
			color: white;
			padding: 3px;
			border: 1px solid #666;
			}
		</style>
		<script type="text/javascript">
			var formatDate = function (formatDate, formatString) {
				if(formatDate instanceof Date) {
					var months = new Array("Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec");
					var yyyy = formatDate.getFullYear();
					var yy = yyyy.toString().substring(2);
					var m = formatDate.getMonth();
					var mm = m < 10 ? "0" + m : m;
					var mmm = months[m];
					var d = formatDate.getDate();
					var dd = d < 10 ? "0" + d : d;
					
					var h = formatDate.getHours();
					var hh = h < 10 ? "0" + h : h;
					var n = formatDate.getMinutes();
					var nn = n < 10 ? "0" + n : n;
					var s = formatDate.getSeconds();
					var ss = s < 10 ? "0" + s : s;

					formatString = formatString.replace(/yyyy/i, yyyy);
					formatString = formatString.replace(/yy/i, yy);
					formatString = formatString.replace(/mmm/i, mmm);
					formatString = formatString.replace(/mm/i, mm);
					formatString = formatString.replace(/m/i, m);
					formatString = formatString.replace(/dd/i, dd);
					formatString = formatString.replace(/d/i, d);
					formatString = formatString.replace(/hh/i, hh);
					formatString = formatString.replace(/h/i, h);
					formatString = formatString.replace(/nn/i, nn);
					formatString = formatString.replace(/n/i, n);
					formatString = formatString.replace(/ss/i, ss);
					formatString = formatString.replace(/s/i, s);

					return formatString;
				} else {
					return "";
				}
			}
			$(document).ready(
				jQuery.fn.getReaderContent = function(readeritems) {
				if (!readeritems || !readeritems.items) return;
				var container = document.getElementById("google_reader_shared_items");

				var sheadingtext = "";
				var sreaderpaneltext = "";
				var sreadmoretext = "";

				sheadingtext += "<div class='sidepanelheading'>";
				sheadingtext += "aspersieman's Reader";
				sheadingtext += "</div>";

				if (readeritems.items.length > 3) {
					numitems = 3;
				} else {
					numitems = readeritems.items.length;
				}

				for (var i = 0; i <= numitems; i++) {
					var item = readeritems.items[i];
					var itemdatepublished = formatDate(new Date((item.published * 1000)), "yyyy-mm-dd");

					sreaderpaneltext += "<div class='sidepanel' style='line-height:100%;'>";
					sreaderpaneltext += "<a tyle='font-size:0.9em;line-height:100%;' class='title' href='" + item.alternate.href + "'>";
					sreaderpaneltext += item.title + "</a>";
					sreaderpaneltext += "<div class='meta' style='font-size:0.9em';line-height:100%;>";
					sreaderpaneltext += "from<br/>";
					sreaderpaneltext += item.origin.title;
					sreaderpaneltext += "<br/>on<br/>";
					sreaderpaneltext += itemdatepublished;
					sreaderpaneltext += "</div>";
					sreaderpaneltext += "</div>";
				}

				sreadmoretext += "<div class='sidepanel'>";
				sreadmoretext += "<a style='font-size:0.9em' class='title' href='/init/reader/index'>";
				sreadmoretext += "more reader posts...";
				sreadmoretext += "</a>";
				sreadmoretext += "</div>";

				container.innerHTML = sheadingtext + sreaderpaneltext + sreadmoretext;
			}
			);
		</script>
	</head>
	<body>
		<div id="wrap">
			{{if response.menu_auth:}}
			<div align="right">
				<a class="authmenu" href="{{=response.menu_auth[0][2] or '#'}}">{{=response.menu_auth[0][0]}}</a>
				{{for mi in response.menu_auth[0][3]:}}
				<a class="authmenu" href="{{=mi[2]}}">{{=mi[0]}}</a>
				{{pass}}
			</div>
			{{pass}}
			<div id="title">
				<!--h1>
					<a href="/">{{=response.title or request.application}}</a>
				</h1-->
				<a href="/"><img src="/init/static/images/pleph.png" alt="Exuding awesomage..." /></a>
				<div>&nbsp;&nbsp;&nbsp;<strong>{{=response.subtitle or "Llamas, Eels, Meese...glorious"}}</strong>
				</div>
			</div>
			<div id="content">
				<div class="flash">{{=response.flash or ''}}</div>
				{{include}}
			</div>
			<div id="side">
				{{if response.menu_about:}}
				<ul>
					<li>
					<a class="item" href="{{=response.menu_about[0][2] or '#'}}">{{=response.menu_about[0][0]}}</a>
					</li>
					{{pass}}
				</ul>
				{{pass}}
				{{if response.menu_post:}}
				<ul>
					<li>
					<a class="item" href="{{=response.menu_post[0][2] or '#'}}">{{=response.menu_post[0][0]}}</a>
					</li>
					{{for mi in response.menu_post[0][3]:}}
					<li>
					<a class="itemsub" href="{{=mi[2]}}">{{=mi[0]}}</a>
					</li>
					{{pass}}
				</ul>
				{{pass}}
				{{if request.controller == "posts" or request.controller == "default":}}
				{{=LOAD('panels','feed_posts', ajax = True)}}
				{{pass}}
				{{=LOAD('panels','categories', ajax = True)}}
				<div id="google_reader_shared_items">
					<script type="text/javascript" src="http://www.google.co.za/reader/public/javascript/user/05176344199512550335/state/com.google/broadcast?n=10&callback=jQuery.fn.getReaderContent"></script>
				</div>
			</div>
			<div class="clear"></div>
			<div id="footer"></div>
		</div>
		<div id="bottom">
			<a href="http://www.web2py.com"><img src="/init/static/images/web2py_sticker_1.png" alt="Powered by web2py" /></a> <br/><br/>
			&copy; 2009 <a href="http://pleph.appspot.com">aspersieman</a> ||
			<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/{{=request.application}}/feeds/posts.rss" />
			<a href="http://gregdev.net">
				Template
			</a>
			by
			<a href="http://gregdev.net">
				Greg Smith
			</a>
		</div>
	</body>
</html>
