{{extend 'layout.html'}}

{{ import applications.init.modules.markdown as markdown }}

{{if categoryposts:}}
<h1>Entries Posted Under "{{= category.title }}"</h1>
	{{ if len(categoryposts) > 0:}}
		{{ for categorypost in categoryposts: }}
			<div class="maincontent">
				<h1 class="sectionheading">
					<a href="/{{=request.application}}/posts/view/{{= categorypost.post }}">{{= posttitles[categorypost.post] }}</a>
				</h1>
				<br/>
				<br/>
				<br/>
				<div class="subinfo">
					{{=XML(postinfo[categorypost.post])}}
				</div>
				<br/>
				{{=markdown.WIKI(postexcerpts[categorypost.post], safe_mode = "safe")}}
				{{ if posttags: }}
					<br/>
					<div class="subinfo">
					{{ tagcounter = 1 }}
					<div><strong>Tags: </strong>
						{{ for tag in posttags: }}
							{{= tag.tag }}{{ if tagcounter != len(posttags): }}, {{ else: }} {{ pass }}
						{{ tagcounter = tagcounter + 1 }}
						{{ pass }}
						</div>
					</div>
				{{ pass }}
			</div>
			<br/>
		{{ pass }}
	{{else:}}
	There are no posts under this category.
	{{ pass }}
{{else:}}
There are no posts under this category.
{{ pass }}
