{{extend 'layout.html'}}
{{ import markdown }}
<div class="maincontent">
	<div class="title">
		<h1 class="sectionheading">
			About me and this site
		</h1>
	</div>
	<p class="sectionheadingimage">
	<br/>
	</p>
	<br/>
	<div class="subinfo" style="font-size: 8pt">Posted by <strong>Nicol van der Merwe (Aspersieman)</strong></div>

	<div class="mainbody">

{{= XML(markdown.WIKI("""Scene 1:

<Old man walks in with an owl on his head>

Old Man : 'ave yoo seen me hobnails guv'ner?

<The catapult launches>

Attendee: Noo I baint seen yoor hobnails Old Man, 'ave yoo looked in yoor pockets?

<A somber mood is created by a dolphin who enters playing a sad song on a violin>

Old Man: I'm goo'n ta look in me hat!

Attendee: Jimminee Hoodny, that be a good ideea Old Man!

Old Man: I've foond one...

Attendee: Quick! Milk it! Milk it!

<Old Man milks it>

<The dolphin who was playing the music in the background appraches the two men>

Dolphin: SQQUEEEEEEEEEEE! TIK TIK TIK TIK!! SQIIII SQIIIIIIrrrrrrrrRRRRRRRRIIII!

Attendee: Aye, that's troo!

Old Man: Aye, if 'an oonlee they wooldn't frown so much...

<The catapult launches once more>

Old Man: Then we woold be able to milk them in peace!

Attendee: Aye.

Dolphin: SQIIIIIIIIIII!

Old Man: Noo, thats my hobnail! Get yur oon!

<The dolphin appears to be severely aggravated>

Dolphin: SQIIIIIIII TIK TIK TIK!!!!

Attendee: Noo, it really is guv'ner...

Old Man: Aye, that it is...for shoor!

<The dolphin produces a land mine from his blow-hole>

Scene 2:

<The world chess championship>

Scene 3:

<The dolphin's land mine explodes, creating a mushroom cloud 34KM in diameter. Time re-sets. Then time retires to a small home for old people with three cats and a garden with herbs.>

FIN""")) }}</div>
</div>
