{{extend 'layout.html'}}
{{for blogpost in blogposts:}}
        <div class="frameblock">
	    <a href={{="/" + request.application + "/blog/view/" + str(blogpost.id)}}><h2>{{=blogpost.title}}</h2></a>
	    <i><span style="color : #666666;">Posted on {{=blogpost.addeddate}} by <strong>{{#=blogpost.person_name}}</strong></span></i>
            <p>
	    <br/>
	    {{=XML(str(blogpost.post).replace("\n", "<br/>"))}}
            </p>
	    <hr/>
	    <p>comments {{#=A(blogposts_numcomments[blogpost.id], _href = "/init/blog/view/" + str(blogpost.id) + "#comments")}}</p>
	    {{ if auth.is_logged_in(): }}
	    {{# 		if response.admin == True: }}
	    <a href={{="/" + request.application + "/blog/update/" + str(blogpost.id)}}>[Update this post]</a>
	    {{# 		pass }}
	    {{ pass }}
        </div>
        <br/>
{{pass}}
