{{extend 'layout.html'}}
<div class="frameblock">
    {{ if blogpost: }}
    {{ for bp in blogpost: }}
	    <h2>{{=bp.title}}</h2>
	    <i><span style="color : #666666;">Posted on {{=bp.addeddate}} by {{=bp.person_name}}</span></i>
	    <p>
	    <br/>
	    {{=XML(str(bp.post).replace("\n", "<BR>"))}}
	    </p>
	    {{ if t2.logged_in: }}
	    {{ 		if response.admin == True: }}
	    <a href={{="/" + request.application + "/blog/update/" + str(bp.id)}}>[Update this post]</a>
	    {{ 		pass }}
	    {{ pass }}
	{{ pass }}
    {{ pass }}
</div>
<br/>
<div class="frameblock">
    <h2>Comments</h2>
    <div class="comments" id="comments">
        {{ if t2.logged_in: }}
        {{=t2.comments(db.blogposts, moderated = True) }}
        {{ else: }}
        {{=t2.comments(db.blogposts, moderated = True, writable = False, readable = True) }}
        {{ pass }}
    </div>
</div>

