{{extend 'layout.html'}}
<h1>Manage Posts</h1>

<form method="post" >
<table cellpadding="6" cellspacing="1" width="100%">
<tr>
    <td>Post Title</td>
    <td>Delete Post</td>
</tr>
{{ for post in posts: }}
<tr>
	<td><a href="/{{=request.application}}/posts/edit/{{= post.id }}">{{= post.title }}</a></td>
    <td><input type="checkbox" name="delete" value="{{= post.id }}"</a></td>
</tr>
{{ pass }}
<tr>
    <td colspan="2"><input type="submit" value="Delete Selected Posts"></td>
</tr>
</table>
</form>
