{{extend 'layout.html'}}
{{ import gluon.contrib.markdown }}
<div class="maincontent">
	{{if post:}}
	<h1 class="sectionheading">
		{{= post.title }}
	</h1>
	<p class="sectionheadingimage">
	<a href='/{{=request.application}}/feeds/posts.rss'>
		<img src='/init/static/images/feed-icon-large.png' />
	</a>
	</p>
	<br/>
	<br/>
	<div class="subinfo" style="font-size: 8pt">Posted by {{=post.username}} on {{=post.addeddate}}</div>

	<div class="mainbody">
		<br/>
		<div>{{= XML(gluon.contrib.markdown.WIKI(post.body)) }}</div>

		{{ if categories: }}
			<br/>
			<div class="subinfo">
			{{ categorycounter = 1 }}
				<div>Categories
				{{ for category in categories: }}
				<a href="/{{=request.application}}/categories/view/{{= category }}">{{= categories[category] }}</a>{{ if categorycounter != len(categories): }}, {{ else: }}. {{ pass }}
				{{ categorycounter = categorycounter + 1 }}
				{{ pass }}
				</div>
			</div>
			<br/>
		{{ pass }}

		{{ if tags: }}
			<div class="subinfo">
			{{ tagcounter = 1 }}
				<div>Tags: 
				{{ for tag in tags: }}
					{{= tag }}{{ if tagcounter != len(tags): }}, {{ else: }}. {{ pass }}
				{{ tagcounter = tagcounter + 1 }}
				{{ pass }}
				</div>
			</div>
		{{ pass }}
	</div>
{{else:}}
Post not found
{{pass}}
</div>

{{if post:}}
<h2>Comments</h2>
{{ if comments: }}
	{{ for comment in comments: }}
	<div class="maincontent">
		<div class="commentheading">
			<p style="font-size: 9px;">Posted by {{= comment.name}} on {{= comment.addeddate }}</p>
		</div>
		<div class="commentbody">
			{{= XML(gluon.contrib.markdown.WIKI(comment.commentbody).xml(), sanitize = True) }}
		</div>
	</div>
	<br/>
	{{ pass }}
{{ else: }}
	<div>No comments made for this post.</div>
{{ pass }}

<h2>Have Your Say</h2>
{{if auth.is_logged_in():}}
	<p>Comments support <a href="http://en.wikipedia.org/wiki/Markdown">markdown</a> syntax.</p>
	{{= commentform }}
{{else:}}
Please log in to comment.
{{pass}}

