{{extend 'layout.html'}}
{{ import markdown }}
<div class="maincontent">
	{{if post:}}
	<div class="title">
		<h1 class="sectionheading">
			{{= post.title }}
		</h1>
	</div>
	<p class="sectionheadingimage">
	<a href='/{{=request.application}}/feeds/posts.rss'>
		<img src='/init/static/images/feed-icon-large.png' />
	</a>
	</p>
	<br/>
	<div class="subinfo" style="font-size: 8pt">Posted by <strong>{{=post.username}}</strong> on <strong>{{=str(post.addeddate)[:10]}}</strong></div>

	<div class="mainbody">
		<div>{{= XML(markdown.WIKI(post.body)) }}</div>

		{{ if categories: }}
			<br/>
			<div class="subinfo">
			{{ categorycounter = 1 }}
				<div>Categories
				{{ for category in categories: }}
				<a href="/{{=request.application}}/categories/view/{{= category }}">{{= categories[category] }}</a>{{ if categorycounter != len(categories): }}, {{ else: }}. {{ pass }}
				{{ categorycounter = categorycounter + 1 }}
				{{ pass }}
				</div>
			</div>
			<br/>
		{{ pass }}

		{{ if tags: }}
			<div class="subinfo">
			{{ tagcounter = 1 }}
				<div>Tags: 
				{{ for tag in tags: }}
					{{= tag }}{{ if tagcounter != len(tags): }}, {{ else: }} {{ pass }}
				{{ tagcounter = tagcounter + 1 }}
				{{ pass }}
				</div>
			</div>
		{{ pass }}
	{{else:}}
	<div class="title">
		<h1 class="sectionheading">
		</h1>
	</div>
	<p class="sectionheadingimage">
	</p>
	<br/>
	<div class="subinfo" style="font-size: 8pt"></div>

	<div class="mainbody">
		<div></div>
	Post not found.
	{{pass}}
	</div>
</div>

{{if post:}}
<h2>Comments</h2>
{{ if comments: }}
	{{ for comment in comments: }}
	<div class="commentcontent">
		<div class="commentheading">
			<p style="font-size: 9px;">Posted by <strong>{{= comment.name}}</strong> on <strong>{{= str(comment.addeddate)[0:19] }}</strong></p>
		</div>
		<div class="commentbody">
			{{= markdown.WIKI(XML(comment.commentbody, sanitize = True).xml()) }}
		<br/>
		</div>
	</div>
	<br/>
	{{ pass }}
{{ else: }}
	<div>No comments made for this post.</div>
{{ pass }}

<h2>Have Your Say</h2>
<p>Comments support <a href="http://en.wikipedia.org/wiki/Markdown">markdown</a> syntax.</p>
{{= commentform }}
{{ pass }}
